@import url("http://www.w3.org/StyleSheets/TR/W3C-WD.css");

body 
{
    background-image: none;
    padding: 2em 1em 2em 40px;
}

div#footer
{
    color: #ccc;
    font-size: 80%;
    padding-top: 20px;
}
  
h2, h3{
    border-bottom: thin solid #aaa;
}
